@font-face {
    font-family: Myriad;
    src: url("/fonts/MYRIADAT.TTF");
}
body {
	background-color: black;
	font-family: Myriad;
}
a { color: blue; }
a:visited { color: blue; }
::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}

#header {
	float: right;
	border: 1px solid white;
	border-radius: 25px 25px 0px 0px;
	background-image: linear-gradient(to bottom, white, black, black);
	width: 72%;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: none;
}
#header a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

#main {
	float: right;
	border: 1px solid white;
	background-color: white;
	width: 72%;
	padding: 1%
}

#nav {
	float: left;
	background-color: white;
	padding: 1%;
	padding-left: 4%;
	border-radius: 0px 0px 20px 20px;
	width: 120%;
	border: 1px solid white;
}
#navnad {
	background-image: linear-gradient(to bottom, white, black, black);
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 4%;
	padding-bottom: none;
	border-radius: 20px 20px 0px 0px;
	float: left;
	color: white;
	width: 120%;
	border: 1px solid white;
}

#container1 {
	width: 18%;
	padding: 1%
}
#container2 {
	width: 60%;
}

#bottom {
	width: 72%;
	float: right;
	border: 1px solid white;
	padding-right: 1%;
	padding-left: 1%;
	border-radius: 0px 0px 25px 25px;
	background-image: linear-gradient(to bottom, lightgray, gray);
}
